.dashboardCard {
  border: 1px solid #5cb1b8;
  width: 150px;
  height: 100px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  background-color: white;
  margin: 15px;
  margin-left: 44px;
}

.dashboardCard p {
  text-align: left;
  font: normal normal medium 11px/13px Gotham;
  letter-spacing: 0px;
  color: #626262;
  opacity: 1;
}

.emoji,
.emoji svg {
  width: 25px;
  height: 25px;
}

.emoji {
  background: yellow;
  border-radius: 50%;
}

.tabIcon svg {
  width: 30px;
  height: 30px;
}

.checkmark svg {
  fill: #5cb1b8;
}

.xmark svg {
  fill: rgb(255, 70, 70);
}

.imark svg {
  fill: rgb(35, 89, 237);
}

.tile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reviewBtn,
.reviewBtn::after,
.reviewBtn:focus,
.reviewBtn .antd-btn .antd-btn-default {
  background-color: white;
  color: #5cb1b8;
  border: 1px solid #5cb1b8;
  transition: all 0.2s ease-in-out;
  border-radius: 7px;
  width: 130px;
  font-weight: bold;
  text-align: center !important;
}

.reviewBtn:hover {
  background-color: rgb(45, 206, 152);
  color: white;
  border: 1px solid transparent;
  transition: all 0.2s ease-in-out;
  text-align: center !important;
}
