.dashboardCard {
  border: 1px solid #5cb1b8;
  width: 150px;
  height: 100px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  background-color: white;
  margin: 15px;
  margin-right: 44px;
}

.dashboardCard p {
  text-align: left;
  font: normal normal medium 11px/13px Gotham;
  letter-spacing: 0px;
  color: #626262;
  opacity: 1;
}

.dashboardCard h2 {
  text-align: justify;
  text-justify: inter-word !important;
}

.emoji,
.emoji svg {
  width: 25px;
  height: 25px;
}

.emoji {
  background: yellow;
  border-radius: 50%;
}

.tabIcon svg {
  width: 30px;
  height: 30px;
}

.checkmark svg {
  fill: #5cb1b8;
}

.xmark svg {
  fill: rgb(255, 70, 70);
}

.imark svg {
  fill: rgb(35, 89, 237);
}

.tile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reviewBtn,
.reviewBtn::after,
.reviewBtn:focus,
.reviewBtn .antd-btn .antd-btn-default {
  background-color: white;
  color: #5cb1b8;
  border: 1px solid #5cb1b8;
  transition: all 0.2s ease-in-out;
  border-radius: 7px;
  width: 130px;
  font-weight: bold;
  text-align: center !important;
}

.reviewBtn:hover {
  background-color: rgb(45, 206, 152);
  color: white;
  border: 1px solid transparent;
  transition: all 0.2s ease-in-out;
  text-align: center !important;
}

.pieCard {
  background: #fff;
  width: 40%;
  height: 26.938rem;
  border-radius: 7px;
  display: flex;
  padding: 20px;
  box-shadow: 0px 3px 17px rgba(18, 18, 18, 0.2);
  flex-direction: column;
}

.dataRow {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 35.4rem;
  position: relative;
  left: 15px;
}

.infoCards {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

@media screen and (max-width: 480px) {
  .dataRow {
    flex-direction: column;
  }
  .inputs {
    display: block;
  }
  .infoCards {
    display: block;
  }
}
