.officeImgCol {
  margin-left: 3%;

  margin-right: 1%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 400px !important;
}

.cardsCol {
  margin-right: 3%;
  margin-left: 1%;
  height: 500px;
}

.cardColColor {
  background-color: white;
  height: 400px !important;
}

.buttonReserve {
  margin-left: 1%;
}

.footerText {
  font-size: 1.5em;
}

.footerSection {
  margin-top: 4%;
}

.buttonsSection {
  margin-top: 1%;
}

.officeDropdown {
  margin-left: 3%;
  padding-right: 25%;
}

.calendarSection {
  margin-left: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calendarSection label {
  font-size: 15px;
  color: black;
}

.firstSection {
  margin-top: 2%;
}

.reviewModal {
  max-height: 200px !important;
  min-height: 200px !important;
}
