@import "../../sass/abstracts/variables";

.layout {
  overflow: auto;
  height: 100vh;
}

.content {
  margin-top: 1rem;
}

.leftInputs {
  width: 17.75rem;
}

.pStyles {
  font-size: 1.1rem;
  font-weight: bold;
}

.inputSize {
  width: 100%;
  scroll-behavior: auto;
}

.inputSize:hover {
  color: #40a9ff !important;
  border-color: #40a9ff;
  background: #fff;
}

.reserveForCoworker {
  margin-left: 5px;
  max-width: 200px;
}

.menu {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.officeImgCol {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center !important;
}

.cardColColor {
  background-color: white;
  height: 400px !important;
}

.buttonReserve {
  margin-left: 1%;
}

.buttons {
  border-radius: 7px;
  border: 1px solid rgba(0, 0, 0, 0.014);
  width: 130px;
  margin-left: 5px;
  transition: all 0.3s ease-in-out;
}

.buttons.tealBtn:hover:enabled {
  background-color: $tealHover;
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.014);
}

.buttons.orangeBtn:hover:enabled {
  background: $orangeHover;
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.014);
}

.tealBtn {
  background-color: $teal;
  color: white;
}

.orangeBtn {
  background-color: $orange;
  color: white;
}

.buttonReview {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 53%;
}

.footerText {
  font-size: 1.2em;
}

.footerSection {
  margin-top: 4%;
}

.officeDropdown {
  margin-left: 3%;
}

.calendarSection {
  margin-left: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calendarSection label {
  font-size: 15px;
  color: black;
}

.firstSection {
  margin-top: 2%;
}

.reviewModal {
  max-height: 200px !important;
  min-height: 200px !important;
  overflow-y: scroll !important;
}

.buttonsSection {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin-top: 1%;
  justify-content: space-between;
}

.rightInputRow {
  margin-bottom: 2.9rem;
}

.leftInputRow {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 1.4rem;
}

.contentRow {
  display: flex;
  justify-content: space-evenly;
}

.alert {
  position: absolute;
  top: 82px;
  height: 25px;
  font-size: 13px;
}

.coWorkerSelect {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1082px) {
  .pStyles {
    font-size: 1rem;
    font-weight: bold;
  }
}

@media screen and (max-width: 993px) {
  .rightInputRow {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }

  .leftInputRow {
    margin-top: 2rem;
    margin-bottom: 0px;
  }
  .pStyles {
    margin-bottom: 0.2rem;
  }
}

@media screen and (max-width: 720px) {
  .rightInputRow {
    width: 100%;
  }

  .leftInputRow {
    width: 100%;
  }
}

@media screen and (max-width: 580px) {
  .pStyles {
    left: 0 !important;
  }

  .officeInput {
    max-width: 100%;
    div > div {
      margin-bottom: 2px !important;
    }
  }
  .inputWidth {
    max-width: 100%;
  }

  .rightInputRow {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .leftInputRow {
    justify-content: center;
    margin-bottom: 1.5rem;
  }
  .reserveForCoworker {
    margin-left: 5px;
    max-width: 100%;
  }
  .buttonsSection {
    justify-content: center;
  }
}
@media screen and (max-width: 480px) {
  .leftInputRow {
    justify-content: center;
    margin-bottom: 1.5rem;
  }

  .officeInput {
    max-width: 100%;
    div > div {
      margin-bottom: 2px !important;
    }
  }
  .inputWidth {
    max-width: 100%;
  }
}
