.content {
  display: flex;
  justify-content: center;
  width: 100%;
}

.resList {
  width: 100%;
  border-radius: 7px;
}

.table {
  max-height: 350px;
  min-height: 350px;
}

.inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
}

.searchInput {
  width: 300px;
}

.searchInput:focus,
.searchInput:hover {
  border: 1px solid teal;
}

.cancelBtn,
.cancelBtn::after,
.cancelBtn:focus,
.cancelBtn .antd-btn .antd-btn-default {
  background-color: white;
  color: teal;
  border: 1px solid teal;
  transition: all 0.2s ease-in-out;
  border-radius: 7px;
  width: 120px;
  font-weight: bold;
}

.cancelBtn:hover {
  background-color: rgb(45, 206, 152);
  color: white;
  border: 1px solid transparent;
  transition: all 0.2s ease-in-out;
}
