@import "../../sass/abstracts/variables";
.content {
  display: flex;
  justify-content: center;
  width: 100%;
  overflow-y: hidden;
}

.resList {
  width: 100%;
  border-radius: 7px;
}

.inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
}

.searchInput {
  width: 300px;
}

.searchInput:focus,
.searchInput:hover {
  border: 1px solid #5cb1b8;
}

.cancelBtn,
.cancelBtn::after,
.cancelBtn:focus,
.cancelBtn .antd-btn .antd-btn-default {
  background-color: white !important;
  color: $teal;
  border: 1px solid $teal !important;
  transition: all 0.2s ease-in-out !important;
  border-radius: 7px !important;
  width: 120px;
  font-weight: bold;
}

.cancelBtn:hover {
  background-color: $teal !important;
  color: white !important;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 480px) {
  .title {
    display: block;
  }
  .inputs {
    display: block;
  }
}
