#header {
  display: flex;
  width: 100%;
  float: right;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}

.link {
  margin-right: 10px;
  color: white;
  font-size: 15px;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}

.accountFunc {
  font-size: larger;
}

.link:hover {
  cursor: pointer;
  color: rgb(252, 252, 252);
  text-shadow: 0 0 3px white;
}
