@import "../../sass/abstracts/variables";

.dashboardCard {
  border: 1px solid #5cb1b8;
  width: 150px;
  height: 100px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  background-color: white;
  margin: 15px;
  margin-right: 44px;
}
.title {
  position: relative;
  left: 15px;
  margin: 0;
  padding: 0;
  h2 {
    margin: 0;
    padding: 0;
    font-size: 1.125rem;
    margin-bottom: 6px;
  }
}

.container {
  width: 95%;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.dashboardCard p {
  text-align: left;
  font: normal normal medium 11px/13px Gotham;
  letter-spacing: 0px;
  color: #626262;
  opacity: 1;
}

.dashboardCard h2 {
  text-align: justify;
  text-justify: inter-word !important;
}

.emoji,
.emoji svg {
  width: 25px;
  height: 25px;
}

.emoji {
  background: yellow;
  border-radius: 50%;
}

.tabIcon svg {
  width: 30px;
  height: 30px;
}

.checkmark svg {
  fill: #5cb1b8;
}

.xmark svg {
  fill: rgb(255, 70, 70);
}

.imark svg {
  fill: rgb(35, 89, 237);
}

.tile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reviewBtn,
.reviewBtn::after,
.reviewBtn:focus,
.reviewBtn .antd-btn .antd-btn-default {
  background-color: white;
  color: $teal;
  border: 1px solid $teal;
  transition: all 0.2s ease-in-out;
  border-radius: 7px;
  width: 130px;
  font-weight: bold;
  text-align: center !important;
}

.reviewBtn:hover {
  background-color: $tealHover;
  color: white;
  border: 1px solid transparent;
  transition: all 0.2s ease-in-out;
  text-align: center !important;
}

.pieCard {
  background: #fff;
  width: 40%;
  height: 27.8rem;
  border-radius: 7px;
  display: flex;
  padding: 20px;
  box-shadow: 0px 3px 17px rgba(18, 18, 18, 0.2);
  flex-direction: column;
}

.dataRow {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 35.4rem;
  position: relative;
  left: 15px;
}

.infoCards {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.content {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  top: -20px;
}

.select {
  width: 17rem;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 357px;
}

.tableCard {
  background: #fff;
  width: 55%;
  height: 27.8rem;
  display: flex;
  padding: 10px;
  border-radius: 7px;
  box-shadow: $boxShadow;
  flex-direction: column;
  h3 {
    position: relative;
    left: 20px;
    top: 5px;
  }
}

.noReviews {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

.modal {
  max-height: 100px;
  overflow: scroll;
  overflow-x: hidden;
}

.footerText {
  font-size: 1.2em;
}

.footerSection {
  margin-top: 5%;
}

@media screen and (max-width: 820px) {
  .dashboardCard {
    width: 32%;
    height: 85px;
    margin: 7px;
    border-radius: 3px;
    p {
      font-size: 0.9rem;
      text-align: center;
    }
  }

  .inputs {
    display: flex;
    width: 97%;
    position: relative;
    left: 8px;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
  }

  .content {
    top: 0px;
  }
}

@media screen and (max-width: 690px) {
  .dataRow {
    flex-direction: column;
  }
  .pieCard {
    width: 100%;
    height: 27rem;
    margin-bottom: 7px;
  }

  .tableCard {
    width: 100%;
    height: 18rem;
  }
}

@media screen and (max-width: 480px) {
  .dashboardCard {
    width: 30%;
    height: 85px;
    margin: 7px;
    p {
      font-size: 0.8rem;
      text-align: center;
    }
    h2 {
      text-align: justify;
      text-justify: inter-word !important;
    }
  }

  .pieCard {
    width: 100%;
    height: 17rem;
  }

  .inputs {
    display: block;
    text-align: center;

    .select {
      width: 75%;
      margin-bottom: 5px;
    }
  }

  .tabIcon svg {
    width: 25px;
    height: 25px;
    position: relative;
    top: -5px;
  }
}

@media screen and (max-width: 430px) {
  .dashboardCard {
    p {
      font-size: 0.8rem;
      text-align: left;
      position: relative;
      left: -7px;
    }
  }

  .inputs {
    .select {
      width: 95%;
    }
  }

  .infoCards {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }

  .container {
    position: relative;
    top: 30px;
  }
}
