.contentChildren {
  height: 95vh;
}

.contentChildrenDashboard {
  height: 95vh;
}
.contentChildrenHome {
  height: 95vh;
}

.footer {
  text-align: center;
}

@media screen and (max-width: 992px) {
  .contentChildrenHome {
    height: auto;
  }
}

@media screen and (max-width: 690px) {
  .contentChildrenDashboard {
    height: auto;
  }
  .contentChildren {
    height: 95vh;
  }
}
