.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}
[data-theme="light"] .site-layout .site-layout-background {
  background: #141414;
}

.ant-menu > .ant-menu-submenu-selected {
  color: red;
  border-bottom: 2px solid red;
}

.iconLogo {
  font-size: 100%;
  margin-top: 20px;
  margin-right: 7px;
}

.sideBarLogo {
  background: url("../../assets/Group\ 190.svg") no-repeat;
  width: 20px;
  top: 5px;
  left: 10px;
  min-height: 70px;
  /* scale: calc(); */
}

.sideMenu {
  overflow-x: hidden;
}
