h1 {
  margin-left: 1%;
  font-size: 3em;
  display: inline-block;
}
.editButton {
  display: flex;
  float: right;
  margin-right: 10px;

  background: #5cb1b8;
  color: white;
  border: 0;
  border-radius: 5px;
  box-shadow: 0px 3px 6px #2c28281c;
}

.editButton:hover {
  background: #6dcfd8;
}

.deleteButton {
  display: flex;
  float: right;
  color: white;
  background-color: #d11a2a;
}

.redButton {
  color: white;
  background-color: #d11a2a;
}

.redButton:hover {
  background-color: #e74552;
}

.addOfficeSectionButton {
  margin-left: 3%;
}

.ant-row {
  border: 0;
  border-radius: 14px;
}

.ant-list {
  border: 0;
  border-radius: 14px;
}

#addOffice {
  width: 133px;
  margin-right: 23px;
}
