h1 {
  margin-left: 1%;
  font-size: 3em;
  display: inline-block;
}
.editButton {
  display: flex;
  float: right;
  margin-right: 10px;
  background-color: white;
  color: teal;
}
.deleteButton {
  display: flex;
  float: right;
  color: white;
  background-color: #d11a2a;
}

.addOfficeSectionButton {
  margin-left: 3%;
}

.ant-row {
  border: 0;
  border-radius: 14px;
}

.ant-list {
  border: 0;
  border-radius: 14px;
}

#addOffice {
  width: 133px;
  margin-right: 23px;
}
