.btn,
.btn::after,
.btn:focus,
.btn .antd-btn .antd-btn-default {
  background-color: white;
  color: #5cb1b8;
  border: 1px solid #5cb1b8;
  transition: all 0.2s ease-in-out;
  border-radius: 7px;
  width: 120px;
  font-weight: bold;
}

.btn:hover {
  background-color: rgb(45, 206, 152);
  color: white;
  border: 1px solid transparent;
  transition: all 0.2s ease-in-out;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 480px) {
  .title {
    display: block;
  }
}
