.officeImagePlan {
  display: flexbox;
  justify-content: center;
  width: 500px;
  height: 300px;
}

.labels {
  font-weight: bold;
  font-size: 1em;
}

.officeTitels {
  font-size: 1.35em;
}

.inputvalue{
  text-align: center;
}
.inlineBlockDiv {
  display: inline-block;
}

.imageRow {
  display: flex;
  justify-self: center;
}

.secondSpan {
  display: flex;
  justify-content: start;
}

.firstSpan {
  display: flex;
  justify-content: end;
}

.divSpan {
  display: flex;
  justify-content: space-between;
}
.uploadOfficePlanButton {
  display: flex;
  justify-content: center;
}
