.officeImagePlan {
  display: flex;
  justify-content: center;
  width: 500px !important;
  height: 400px !important;
}

.labels {
  font-weight: bold;
  font-size: 1em;
}

.officeTitles {
  font-size: 1.35em;
}

.inputvalue {
  text-align: center;
}
.inlineBlockDiv {
  display: inline-block;
}

.imageRow {
  display: flex;
  justify-self: center;
}

.secondSpan {
  display: flex;
  justify-content: start;
}

.secondSpanconf {
  display: flex;
  justify-content: start;
  padding-right: 13%;
}

.deleteiconDesks {
  cursor: pointer;
  padding-left: 27%;
}

.deleteiconconf {
  cursor: pointer;
  padding-left: 27%;
}

.deleteButton {
  display: flex;
  float: right;
}

.firstSpan {
  display: flex;
  justify-content: end;
}

.divSpan {
  display: flex;
  justify-content: space-between;
}
.uploadOfficePlanButton {
  display: flex;
  justify-content: center;
  width: 150px !important;
  margin-left: 5px;
}

.ant-col {
  border: 0 !important;
}

.officeName {
  position: relative;
  left: 9px;
}

.checkbox {
  background-color: white;
  color: black;
  padding-left: 3%;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.containerSize {
  width: 90%;
}

.firstRow {
  margin-bottom: 20px;
}

.h2 {
  font-size: 1.125rem;
}

.form {
  display: flex;
  width: 600px;
  justify-content: flex-start;
}

.input {
  width: 250px;
  border-radius: 7px;
}

.secondRow {
  display: flex;
  justify-content: space-between;
}

.secondRowSize {
  width: 55%;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
  height: 400px;
  background-color: white;
}

.btn {
  width: 150px !important;
}

.imgContainer {
  background-color: white;
  height: 400px;
}
