@import "../../sass/abstracts/variables";
.content {
  display: flex;
  justify-content: center;
  width: 100%;
  overflow-y: hidden;

  .contentWrapper {
    width: 80%;
  }
}

.resList {
  width: 100%;
  border-radius: 7px;
}

.inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
}

.searchInput {
  width: 80%;
}

.searchInput:focus,
.searchInput:hover {
  border: 1px solid #5cb1b8;
}

.cancelBtn,
.cancelBtn::after,
.cancelBtn:focus,
.cancelBtn .antd-btn .antd-btn-default {
  background-color: white !important;
  color: $teal;
  border: 1px solid $teal !important;
  transition: all 0.2s ease-in-out !important;
  border-radius: 7px !important;
  width: 120px;
  font-weight: bold;
}

.cancelBtn:hover {
  background-color: $teal !important;
  color: white !important;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.footerText {
  font-size: 1.2em;
}

.footerSection {
  margin-top: 2%;
}

.alert {
  height: 25px;
  font-size: 13px;
}

.filterInputs {
  width: 200px;
}

@media screen and (max-width: 820px) {
  .content {
    .contentWrapper {
      width: 90%;
    }
  }
  .filterInputs {
    width: 80%;
  }
  .cancelBtn,
  .cancelBtn::after,
  .cancelBtn:focus,
  .cancelBtn .antd-btn .antd-btn-default {
    width: 100%;
  }
}

@media screen and (max-width: 670px) {
  .inputIcon {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .title {
    display: block;
  }
  .inputs {
    display: flex;
    flex-direction: column;
  }
  .filterInputs {
    width: 100%;
    margin-bottom: 5px;
  }
  .searchInput {
    width: 100%;
  }
}
