#scrollableDiv {
  overflow-y: hidden;
  height: 90%;
  border: none !important;
}

.cardBody {
  display: flex;
  justify-content: space-between;
}

.cardContentInformation {
  width: max-content;
}
