.loading {
  max-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.scrollableDiv {
  height: 400px;
  max-height: 400px;
}

.meta {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.infoCircle {
  position: relative;
  top: 4px;
}

.cardContentInformation {
  width: max-content;
  display: flex;
  justify-content: start;
}

.basicText {
  color: #000000;
  font-size: 12px;
}

.dateText {
  color: #000000;
  font-size: 12px;
}
