@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Raleway", sans-serif;
}

body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Raleway", source-code-pro, Menlo, Monaco, Consolas,
    "Courier New", monospace;
}

.officeBranch {
  font-size: 1.75em;
}

.FormLogin {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
}

.MyAccountForm {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
}

.login-form {
  max-width: 300px;
}
.login-form-forgot {
  float: right;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}
.login-form-button {
  width: 100%;
  margin-top: 15px;
}

.login-form-button:focus {
  outline: none !important;
  border: 3px solid rgb(0, 0, 0);
  box-shadow: 0 0 15px #719ece;
}

.header {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 300%;
  color: white;
}

.save-changes {
  width: 100%;
  margin-top: 5px;
}

input {
  width: 100%;
  margin-bottom: 100;
}

.custominput:focus {
  outline: none !important;
  border: 3px solid rgb(0, 0, 0);
  box-shadow: 0 0 15px #719ece;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  max-height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.App {
  width: 90%;
  max-width: 700px;
  margin: 2em auto;
}
p.lorem-text {
  text-align: justify;
}

.modal-cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  transform: translateZ(0);
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-area {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2.5em 1.5em 1.5em 1.5em;
  background-color: #ffffff;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

@media screen and (min-width: 500px) {
  /* Center the Modal! */
  .modal-area {
    left: 50%;
    top: 50%;
    height: auto;
    transform: translate(-50%, -50%);
    max-width: 30em;
    max-height: calc(100% - 1em);
  }
}

._modal-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5em;
  line-height: 1;
  background: #f6f6f7;
  border: 0;
  box-shadow: 0;
  cursor: pointer;
}

._modal-close-icon {
  width: 25px;
  height: 25px;
  fill: transparent;
  stroke: black;
  stroke-linecap: round;
  stroke-width: 2;
}

.modal-body {
  padding-top: 0.25em;
}
._hide-visual {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.scroll-lock {
  overflow: hidden;
  margin-right: 17px;
}
#addOffice {
  float: right;
  margin-top: 1%;
  margin-right: 1%;
  display: inline-block;
}
.formButton {
  margin-right: 30px;
  display: inline-block;
}
h1 {
  margin-left: 1%;
  font-size: 3em;
  display: inline-block;
}
.editButton {
  float: right;
  margin-right: 10px;
  background-color: #2148c0;
  color: rgb(255, 255, 255);
}
.deleteButton {
  color: white;
  float: right;
  background-color: #d11a2a;
  border-radius: 17px;
  cursor: pointer;
}

.uploadOfficePlan {
  color: white;
}
.list {
  background-color: white;
}
.conferenceRoomCapacity {
  float: right;
  margin-right: 10px;
  max-width: 50px;
  float: inline-end;
}

.ant-layout {
  background: url("./assets/Path\ 467.svg");
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: 0 -20rem;
  background-size: cover;
}

.ant-col {
  padding: 0;
}

.thisisaplaceholderplzdontt {
  color: #2c28283c;
}

td {
  width: 25%;
}

.ant-menu-item-selected {
  color: #5cb1b8 !important;
}

.ant-menu-inline .ant-menu-item::after {
  border-right-color: #5cb1b8;
}
.ant-menu-item-selected .ant-menu-title-content a {
  color: #5cb1b8;
}

.ant-menu > .ant-menu-item:hover,
.ant-menu > .ant-menu-submenu:hover,
.ant-menu > .ant-menu-item-active,
.ant-menu > .ant-menu-submenu-active,
.ant-menu > .ant-menu-item-open,
.ant-menu > .ant-menu-submenu-open,
.ant-menu > .ant-menu-item-selected,
.ant-menu > .ant-menu-submenu-selected {
  color: #5cb1b8;
}

.ant-menu-item-active a:hover {
  color: #5cb1b8;
}

.ant-modal-close-x {
  display: none;
}

.ant-pagination-item {
  color: #5cb1b8;
}

.ant-pagination-item:hover,
.ant-pagination-item a:hover {
  color: #5cb1b8;
  border-color: #5cb1b8;
}

.ant-pagination-prev:hover .ant-pagination-item-link,
.ant-pagination-next:hover .ant-pagination-item-link {
  color: #5cb1b8;
  border-color: #5cb1b8;
}

.ant-pagination-item-active,
.ant-pagination-item-active a {
  color: #5cb1b8;
  border-color: #5cb1b8;
}

.ant-layout {
  max-height: 100vh;
  background-color: #f1f3f9;
}

.g2-html-annotation {
  font-size: 13px !important;
}

.ant-table-cell {
  max-width: 33% !important;
}

.ant-tabs-tab-btn:hover,
.ant-tabs-tab:hover,
.ant-tabs-tab-btn:active {
  color: #5cb1b8;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #5cb1b8;
}

.ant-tabs-ink-bar {
  height: 5px;
  background: #5cb1b8 !important;
}

.ant-btn-primary[disabled],
.ant-btn-primary[disabled]:hover,
.ant-btn-primary[disabled]:focus,
.ant-btn-primary[disabled]:active {
  background-color: #f5f5f5 !important;
  border: 1px solid grey !important;
}

html {
  --antd-wave-shadow-color: #5cb1b8 !important;
}

.btn,
.btn::after,
.btn:focus,
.btn .antd-btn .antd-btn-default {
  background-color: white;
  color: #5cb1b8;
  border: 1px solid #5cb1b8;
  transition: all 0.2s ease-in-out;
  border-radius: 7px;
  width: 120px;
  font-weight: 500;
}

.btn:hover {
  background-color: rgb(45, 206, 152);
  color: white;
  border: 1px solid transparent;
  transition: all 0.2s ease-in-out;
}
